.user-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.user-card {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
  width: 250px;
  background-color: #f2f2f2;
}

.user-name {
  font-weight: bold;
}

.user-carrd {
  border: 1px solid #df3d3d;
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
  width: 250px;
  background-color: #e07b7b;
}





